h1 {
  text-align: center;
  color: #eb842b;
  background-color: #b9c297;
  font-family: monospace;
  padding: 20px 20px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b9c297;
}

nav li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: monospace;
}

li a:hover {
  background-color: #a97338;
}

.active {
  background-color: #bc6a68;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 20px;
  border-radius: 50px;
}

h2,
h3,
p {
  text-align: center;
  font-family: monospace;
}

body {
  background-color: #f6eae5;
}

li {
  font-family: monospace;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
